/* ---------------Styles for navbar---------------------*/
.navbar {
    background-color: #0e603f;
}
.navbar .navbar-brand {
    color: #bed6ac;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #f8eeac;
}
.navbar .navbar-text {
    color: #bed6ac;
}
.navbar .navbar-text a {
    color: #f8eeac;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #f8eeac;
}
.navbar .navbar-nav .nav-link {
    color: #bed6ac;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #f8eeac;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f8eeac;
    background-color: #5b9b37;
}
.navbar .navbar-toggle {
    border-color: #5b9b37;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #5b9b37;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #bed6ac;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #bed6ac;
}
.navbar .navbar-link {
    color: #bed6ac;
}
.navbar .navbar-link:hover {
    color: #f8eeac;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #bed6ac;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f8eeac;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f8eeac;
        background-color: #5b9b37;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #bed6ac;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f8eeac;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f8eeac;
        background-color: #5b9b37;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #bed6ac;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f8eeac;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f8eeac;
        background-color: #5b9b37;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #bed6ac;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f8eeac;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f8eeac;
        background-color: #5b9b37;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #bed6ac;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f8eeac;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f8eeac;
    background-color: #5b9b37;
}

/*--------------- General Styles ----------------------*/

body {
    background-image: url("images/sf-lesssky.jpg");
    background-repeat: no-repeat;
    background-color: #F2D99C;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

a{
    color: #a94300;
}

a:hover {
    color: #ea8800;
}


 .content{
     padding: 6px;
     margin: 7px;
     border:2px solid #666666;
     border-radius: 12px;
     background-color: white;
 }

 .transparent-white{
     padding: 6px;
     margin: 7px;
     border:2px solid #666666;
     border-radius: 12px;
     background-color: rgba(255, 255, 255, .7);

 }

 .profile-white{

     border:2px solid #666666;
     border-radius: 12px;
     background-color: rgba(255, 255, 255, .7);
 }

 .btn-primary {
     background-color: #5b9b37;
     font-weight: bold;
     padding: 6px 15px;
     border-radius: 20px;
     border: #076426;
     -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary .btn-primary:active:focus {
    background-color: #076426;

}


/*----------------single-article-style-------------------*/

 * {
     box-sizing: border-box;
 }

body{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

.form-control{
    margin:10px;
}

/* -------------------Full-width input fields---------------------- */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    /*width: 10%;*/
    margin-bottom: 10px;
    margin-left: 3%;
    opacity: 0.8;
    display: inline-block;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    /*width: 10%;*/
    display: inline-block;
    /*margin-left: 60%;*/
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#editarticle,#deletearticle,#addcommentbtn{
    background-color: #5b9b37;
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}


#editarticle:hover{
    background-color: #076426;
}
#addcommentbtn:hover{
    background-color: #076426;
}
#deletearticle:hover{
    background-color: #076426;
}




/*comment-pool */

.container-comment-pool {
    width: 100%;
    height: auto;
}

.media .media-object {
    max-width: 120px;
}

.media-body {
    position: relative;
    width: 100%;
}

#commentDiv${childComment.commentID} {
    width: 100%;
}

.media-date {
    position: relative;

}
.media-list{
    padding-left: 0;
    /*margin-left: -3.4em;*/
}

.media-list .media-list{
    padding-left: 0;
    margin-left: -3.4em;
}

.media-date li {
    padding: 0;
}

.media-date li:first-child:before {
    content: '';
}

.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}

.media-comment {
    margin-bottom: 20px;
}

.media-replied {
    margin: 0 0 0px 0px;
}

.media-replied .media-heading {
    padding-left: 6px;
}

.card .bg-light {
    background-color: whitesmoke;
    border: none;

}
.card{
    border:none;
}
.media{
    background-color: #f8f9fa;
    border-radius: 15px;
    padding-bottom: 5px;
}

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
    color: white;
}

.btn-circle span {
    padding-right: 6px;
}

input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
    left: 0;
}

.well {
    border: none;
}

#deletecommetnbtn {
    margin-top: 10px;
}

.btn-info{
    background-color: #5b9b37;
    padding:6px 15px;
    border:#076426;
    border-radius: 20px;
    transition-duration: 0.4s;
}
#childcommentsub{
    background-color: #5b9b37;
    padding:6px 15px;
    border:#076426;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#childrencommentclose{
    font-weight: bold;
    background-color: #5b9b37;
    padding:6px 15px;
    border:#076426;
    border-radius: 20px;
    transition-duration: 0.4s;
}
#deletecommetnbtn{
    background-color: #5b9b37;
    padding:6px 15px;
    border:#076426;
    border-radius: 20px;
    transition-duration: 0.4s;
}


#childcommentsub:hover{
    background-color: #076426;
}

#childrencommentclose:hover{
    background-color: #076426;
}
#deletecommetnbtn:hover{
    background-color: #076426;
}
.btn-info:hover{
    background-color: #076426;
}


.custom-input-file:hover .uploadPhoto {
    display: block;
}

.media-list{
    padding-left: 0px;
}





